*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav{
    color: whitesmoke;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav a {
    color: whitesmoke;
}

.nav li{
    padding: 5px;
}

.nav li:hover{
    background-color: blue;
}


.data-list{
    margin-left: 45%;
}

.data-list li{
    display: inline-block;
    margin-left: 20px;
}

.fa-sort-down{
    transform: rotate(0deg);
    transition: 300ms;
}

.wisata:hover .fa-sort-down{
    transform: rotate(-180deg); 
}

.logo{
    margin-left: 30px;
}

.list{
    display: none;
    background-color: #333;
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.list li{
    display: block;
    margin-bottom: 10px;
    color: whitesmoke;
}

.data-list a{
    text-decoration: none;
}

.wisata:hover .list{
     display: block;
}

/* header=================== */

.header{
    display: flex;
    margin-bottom: 50px;
}

.des-header{
    width: 45%;
    margin: auto;

}

header video {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.des-header h1{
    font-weight: 700;
    font-size: 60px;
    width: 100%;
    color: white;
    padding: 0;
    margin-top: 60px;

}



.sosmed{
    position: fixed;
    margin-top: 40vh;
    margin-left: 30px;
}

.sosmed li{
    list-style: none;
    margin-bottom: 20px;
}

.sosmed .fa-twitter:hover{
    color: #1E90FF;
}

.sosmed .fa-tiktok:hover{
    color: black;
}

.sosmed .fa-whatsapp:hover{
    color: green;
}

.sosmed .fa-brands{
    font-size: 30px;
    color: white;
}

/* header selesai=============== *


/* bg card=============== */
.bg-card{
    width: 90%;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
 
}

.card{
    width: 250px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.card:hover{
    box-shadow: 0px 0px 10px gray;
    transition: 300ms;
}

.gambar-card{
    width: 250px;
    height: 200px;
    overflow: hidden;
}

.gambar-card img{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.des-card{
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.des-card h2{
    color: white;
    margin-bottom: 10px;
}

.des-card p{
    line-height: 20px;
    color: black;
}

.bg-card a{
    text-decoration: none ;
}

.card:hover img{
    transform: scale(1,5);
    transition: 2s;
} 

/*footer =================*/

footer {
    padding: 50px 0px 50px 0px;
    background-color: black;
    color: #fff;
}
footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .layar-dalam div {
    width: 20%;
}
footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}
footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
}